body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5dc;
}

#header-img {
    width: 60px;
}

#nav-bar {
    display: flex;
}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #fff5e1;
}

section {
    padding: 20px;
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#video-section {
    padding: 20px;
    background-color: #d2b48c;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#form {
    background-color: #f5f5dc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
label {
    margin-bottom: 10px;
}

#email {
    margin-bottom: 10px;
    padding: 10px;
}

#submit {
    background-color: #8c735d;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

#submit:hover {
    background-color: #665c54;
}
